[Unit]
Description=[Service description]

[Service]
Type=simple
WorkingDirectory=/home/pi/UT-Domination/backend/
ExecStart=/home/pi/UT-Domination/backend/.venv/bin/python -u /home/pi/UT-Domination/backend/backend.py
Restart=on-failure

[Install]
WantedBy=default.target
